{% extends 'base.html.twig' %}


{% block body %}
 <h1>{{ formation.Titre }}</h1>
  <h1>{{formation.Date |date('Y-m-d')   }}</h1>
 <hr>
 <a href="/formation/">Go Back</a>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}