 {% extends 'front.html.twig' %}
   {% block form %}
{% block title %}Formations{% endblock %}
{% block body %}
{% if formations %}
{% for formation in formations %}
<h1>Formations:</h1>
<table class="table table-hover">
<thead>
<tr>
<th>Titre</th>
<th>Description</th>
<th>Date</th>
<th></th>
</tr>
</thead>
<tbody>

<tr>

<td>{{formation.Titre}}</td>
<td>{{formation.Description}}</td>
<td>{{formation.Date |date('Y-m-d')   }}</td>
<td>
<a href="Frontend/formation/{{ formation.id }}" class="btn btn-dark">Afficher</a>
</tr>

</tbody>
</table>
<a href="/Frontend/abonnement/" class="btn btn-dark">Mes formations</a>
{% endfor %}
{% else %}
<p>No formations to display</p>    
{% endif %}
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
 

{% endblock %}
