{% extends 'base.html.twig' %}
   {% block form %}
{% block title %}Formations{% endblock %}
{% block body %}
<h1>Modifier une formation</h1>
 {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
 
{% endblock %}
