<h1>Offres de Stages:</h1>
<body>
<table class="table-condensed" border="1">

    <tr>
        <th>Id</th>
        <th>Nom Entreprise</th>
        <th>Description</th>
        <th>Stage</th>

    </tr>
    {% for c in OffreStage %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.NomEntreprise }}</td>
            <td>{{ c.Description }}</td>
            <td>{{ c.StageId }}</td>



        </tr>
    {% endfor %}
</table>
</body>