{% extends 'base.html.twig' %}
{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <form class="w-search">
        <div class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" id="search" class="form-control" placeholder="Search">
            </div>
            <!-- /input-group -->

            ++++++++++++
            <form class="w-search">
                <div class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" id="search" class="form-control" placeholder="Search">
                    </div>
                    <!-- /input-group -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}