{% extends 'front.html.twig' %}
{% block title %} Article client {% endblock %}
{% block body %}
    <section class="article">

        <article>
            {% if article.image %}
                <img src="{{ vich_uploader_asset(article,'imageFile') }}">
            {% endif %}
            <h2> {{  article.Titre }}</h2>
            <p> {{ article.Contenu |raw }}</p>

        </article>

    </section>

{% endblock %}