<table>
    <h4>tables des offres</h4>
    <!--<input type="text" name="find" class="form-horizontal style-forms" name="find"><input type="submit" value="search">-->
    <hr>
    <thead>
    <tr>
        <th>Company</th>
        <th>Domain</th>
        <th>ville</th>
        <th>salary</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for O in Offre %}
        <tr>
            <td>
                {{ O.Title }}</a>
            </td>
            <td>{{ O.Domain }}</td>
            <td> {{ O.Ville }}</td>
            <td>{{ O.Salaire }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>