{% extends 'base.html.twig' %}

{% block title %} Forget Password {% endblock %}

{% block content %}
    <div id="login-page">
        <div class="container">
            <form method="post" class="form-login" action="{{ path('forgetPassword') }}">
                <h2 class="form-login-heading">Forget Password</h2>
                <h5> Check your mail: {{ user.email }}</h5>
                <div class="login-wrap">
                    <input type="hidden" class="form-control" name="code" value="{{ code }}" required>

                    <input type="hidden" class="form-control" name="id" value="{{ user.id }}" required>

                    <input type="text" class="form-control" placeholder="Code" name="inputcode" required>
                    <br>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <br>

                    <input class="btn btn-theme btn-block" type="submit" value="Submit">
                    <hr>

                </div>
            </form>
        </div>
    </div>


{% endblock %}
